<!DOCTYPE html>
<html>
    <a href="{{ url_for('start') }}">
        <button> << </button>
    </a>
    <a href = "{{ url_for('login') }}">
        <button>i have an account already</button>
    </a>
    <br>
    <form action="{{ url_for('save_data') }}", method="POST">
        <input type="hidden" id="occupation" name="occupation" value="military">
        <label for="username"> Enter your username </label>
        <br>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password"> Enter your password </label>
        <br>
        <input type="password" id="password" name="password" required>
        <br>
        <button>submit</button>
    </form>
    {% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
    {% endif %}
</html>