<!DOCTYPE html>
<html>
    {% if occupation != "volunteer" %}
        <a href="{{ url_for('questions') }}">
            <button> Пройти опитування </button>
        </a>
    {% endif %}
    <a href="{{ url_for('calendar') }}">
        <button> Календар </button>
    </a>
    <a href="{{ url_for('profile', username=session['user']) }}">
        <button> Профіль </button>
    </a>
    <a href="{{ url_for('settings') }}">
        <button> Настройки </button>
    </a>
    {% if occupation == "admin" %}
        <a href="{{ url_for('verify_page') }}">
            <button> Верифікація користувачів і подій </button>
        </a>
    {% endif %}
    <a href="{{ url_for('logout_page') }}">
        <button> Вийти </button>
    </a>

    <h1>BEYOND DUTY</h1>
    <h3>Топ психологів</h3>

    {% if top %}
        {% for p in top %}
            <li>
                <a href="{{ url_for('profile', username=p.username) }}">
                    {{ "{}. {}".format(loop.index, p.name) }}
                </a>
            </li>
            <p>p.rating</p>
        {% endfor %}
    {% else %}
        <h5>Пусто</h5>
    {% endif %}

</html>