<!DOCTYPE html>
<html>
    {% if occupation == "military" or occupation == "admin" %}
        <a href="{{ url_for('questions') }}">
            <button> Опитувальник </button>
        </a>
    {% endif %}
    <a href="{{ url_for('calendar') }}">
        <button> Календар </button>
    </a>
    <a href="{{ url_for('profile') }}">
        <button> Профіль </button>
    </a>
    <a href="{{ url_for('settings') }}">
        <button> Настройки </button>
    </a>
    <a href="{{ url_for('logout_page') }}">
        <button> Вийти </button>
    </a>

    <h1>BEYOND DUTY</h1>
    <h3>Топ психологів</h3>

    {% if top %}
        {% for p in top %}
            <li>{{ "{}. {}".format(loop.index,p.name) }}</li>
        {% endfor %}
    {% else %}
        <h5>Пусто</h5>
    {% endif %}

</html>