<!DOCTYPE html>
<html>
        <a href="{{ url_for('main') }}">
            <button> << </button>
        </a>
    {% if user.username == session["user"] %}
        <a href="{{ url_for('settings') }}">
            <button> Редагувати профіль </button>
        </a>
    {% endif %}
    <h1>{{ user.username }}</h1>
    <h4>{{ "{} {}".format(user.email, user.number if user.number else "")}}</h4>
    <h3>{{ "{} {}".format(user.name if user.name else "", user.surname if user.surname else "")}}</h3>
    {% if user.bio %}
        <h4>{{user.bio}}</h4>
    {% endif %}
    {% if user.occupation == "psychologist" %}
        <h3>{{user.rating}}</h3>
    {% endif %}
</html>